{% extends 'base.html.twig' %}

{% block body %}

    <h2>Nákupní seznam KupChleba</h2>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <table>
        <thead>
        <tr>
            <td>ID</td>
            <td>shop</td>
            <td>Category</td>
            <td>Sort</td>
            <td>Quantity</td>
            <td>Units</td>
            <td>selectprice</td>
            <td>value</td>
            <td>Comment</td>
        </tr>
        </thead>
        <tbody>
        {% for shop in shops %}
            <tr>
                <td>{{ shop.id }}</td>
                <td>
                    <a href="{{ path('show', {id: shop.id}) }}">
                        {{ shop.sort }}
                    </a>
                </td>
                <td>
                    <a class="text-danger" href="{{ path('delete', {id: shop.id}) }}">
                        Delete
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

